.blueBoxContainer {
  /* TODO: Check, vh doesn't adapt to content position */
  height: 25rem;
  min-width: 100%;
  background-color: #0B56DB;
  align-items: center;
}

.blueBoxHalfContainer {
  flex: 0 1 50%;
}

.blueBoxWhiteText {
  color: #FFFFFF;
  font-weight: 300;
}