.blueBoxContainer {
  /* TODO: Check, vh doesn't adapt to content position */
  height: 25rem;
  background-color: #0B56DB;
  align-content: center;
}

.blueBoxHalfContainer {
  flex: 0 0 50%;
}

.blueBoxWhiteText {
  color: #FFFFFF;
  font-weight: 300;
}