.blackBoxContainer {
  /* TODO: Check, it doesnt resize, but prolly this should be the same as bluebox after resizing */
  min-height: 25rem;
  background-color: #000000;
  align-content: center;
}

.blackBoxHalfContainer {
  flex: 0 0 50%;
}

.blackBoxWhiteText {
  color: #FFFFFF;
  font-weight: 300;
}