.contactUsBlackBox {
  /* TODO: Check, vh doesn't adapt to content position */
  height: 25rem;
  min-width: 100%;
  background-color: #000000;
  align-items: center;
}

.contactUsBlueBox {
  /* TODO: Check, vh doesn't adapt to content position */
  height: 25rem;
  min-width: 100%;
  background-color: #0B56DB;
  align-items: center;
}

.contactUsHalfContainer {
  flex: 0 1 50%;
}

.contactUsWhiteText {
  color: #FFFFFF;
  font-weight: 300;
}

.contactUsArrowIcon {
  height: 32px;
  width: 32px;
}