.headerContainer {
  min-width: 100%;
  background-color: #E8E8E8;
  /* TODO: Check, vh doesn't adapt to content position */
  height: 35rem;
  align-content: center;
}

.headerLogo {
  height: 50px;
  width: 50px;
}

.headerBox {
  width: 100%;
}

.headerTextBox {
  width: 100%;
}

.headerText {
  font-size: 60px;
  /* TODO: Should I keep this? */
  line-height: 80.25px;
}

.headerBoldText {
  font-weight: 600;
}

.headerLink {
  font-size: 20px;
}