.headerContainer {
  min-width: fit-content;
  background-color: #E8E8E8;
  padding-top: 2.5%;
  padding-bottom: 4%;
}

.headerLogo {
  height: 36px;
  width: 88px;
}

.headerMenuIcon {
  height: 36px;
  width: 36px;
}

.headerTextBox {
  max-width: 50%;
}

.headerText {
  font-size: 60px;
  font-weight: 500;
  /* TODO: Should I keep this? */
  line-height: 80.25px;
}

.headerBoldText {
  font-weight: 600;
}

.headerHyperlink {
  color: #0B56DB;
}