.headlineText {
    font-weight: 500;
    text-wrap: nowrap;
}

.headlineDarkerText {
    font-weight: 600;
    text-wrap: nowrap;
}

.headlineArrow {
    height: 40px;
    width: 40px;
}

.headlineAsterisk {
    height: 35px;
    width: 35px;
}

.headlineTextUnderline {
    background-color: #0B56DB;
    opacity: 0;
}