.headlineDarkerText {
  /* TODO: Can I remove the important? I need to reorder the theme css so its on the bottom of the styles */
  font-weight: 600 !important;
  overflow: visible !important;
}

.headlineTextUnderline {
  background-color: #0B56DB;
  opacity: 0;
}