.footerContainer {
  padding: 5% 10%;
  background-color: #F5F5F5;
}

.footerLogo {
  height: 48px;
  width: 116px;
}

.footerArrowIcon {
  height: 16px;
  width: 16px;
}

.footerUnderlinedHyperlink {
  text-decoration: underline;
}

.footerHyperlink {
  color: #0B56DB;
  text-decoration: none;
}

.footerBlueText {
  color: #0B56DB;
  font-weight: 700;
}