.ourWorkContainer {
  /* TODO: Check, vh doesn't adapt to content position */
  min-height: 100dvh;
  padding-bottom: 10%;
  min-width: 100%;
  background-color: #FFFFFF;
  overflow: hidden;
}

.ourWorkDot {
  color: #0B56DB;
}