.headerContainer {
  /* TODO: Check, vh doesn't adapt to content position */
  height: 40vh;
  background-color: #f5f5f5;
}

.headerLogo {
  height: 50px;
  width: 50px;
}

.headerBox {
  width: 100%;
}

.headerTextBox {
  width: 100%;
}

.headerText {
  font-size: 60px;
  /* TODO: Fix font family */
  /* font-family: Manrope; */
  /* Should I keep this? */
  line-height: 80.25px;
}

.headerLink {
  font-size: 20px;
}