.accordionContainer {
  border: solid 1px #FFFFFF;
  box-shadow: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(40px);
}

.accordionDescriptionText {
  font-size: 16px;
}