.servicesContainer {
  /* TODO: Check, vh doesn't adapt to content position */
  height: 45rem;
  min-width: 100%;
  background-color: #E8E8E8;
  align-content: center;
}

.servicesDot {
  color: #0B56DB;
}

.splashContainer {
  background-image: url('../../../assets/splash.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* TODO: Remove? */
  position: relative;
}

.servicesDescriptionText {
  font-size: 16px;
  color: #A0A0A0;
  font-weight: 500;
}

.servicesLink {
  font-size: 20px;
}

.servicesAccordion {
  max-width: 328px;
  border: solid 1px #FFFFFF;
  box-shadow: none;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
}