.servicesContainer {
  /* TODO: Check, rem doesn't adapt to content position */
  height: 45rem;
  min-width: 100%;
  align-content: center;
  background-color: #e8e8e8;
}

.servicesBackgroundImage {
  align-content: center;
  height: 100%;
  background: linear-gradient(rgba(232, 232, 232, 0.4), rgba(232, 232, 232, .4)), url('../../../assets/splash.png');
  background-position: 100% center;
  background-size: auto;
  background-repeat: no-repeat;

}

.servicesDot {
  color: #0B56DB;
}

.servicesDescriptionText {
  font-size: 16px;
  color: #A0A0A0;
  font-weight: 500;
}

.servicesLink {
  font-size: 20px;
}

.servicesAccordion {
  max-width: 328px;
  border: solid 1px #FFFFFF;
  box-shadow: none;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
}